<div class="container">
  <h1>Lista de alumnos</h1>
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let listaAlumno of listaAlumnos">
        <td>{{listaAlumno | titlecase}}</td>
      </tr>
    </tbody>
  </table>
  
  <div class="alert" [ngClass]="cantAlumnos < capacidad ? 'alert-success' : 'alert-danger'" role="alert">
    <div *ngIf="cantAlumnos < capacidad; else menor">
      Hay cupos!
    </div>
    <ng-template #menor>Supero la capacidad maxima!</ng-template>
  </div>
</div>
